@if (TempData["SuccessMessage"] == "null")
{
    <div class="alert alert-info">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["IncorrectPassword"] != null)
{
    <div class="alert alert-info">
        @TempData["IncorrectPassword"]
    </div>
}
<h2 class="mb-3">Login</h2>
<h5 class="text-muted mb-4">Please enter your credentials</h5>

<form asp-action="Login" method="post" class="w-50">

    <div class="mb-3">
        <label class="form-label">Username</label>
        <input name="Username"
               type="text"
               class="form-control"
               placeholder="Enter your username" />
    </div>

    <div class="mb-3">
        <label class="form-label">Password</label>
        <input name="Password"
               type="password"
               class="form-control"
               placeholder="Enter your password" />
    </div>

    <button type="submit" class="btn btn-success w-100 mt-2">
        Login
    </button>
</form>

<p class="mt-3">
    Don’t have an account?
    <a asp-controller="Account"
       asp-action="Registration"
       class="btn btn-link">
        Register here
    </a>
</p>

