
<h1></h1>
<div class="form-group">
        <label>Extract a New File</label>
        <input name="extractedfile" type="text" />
    </div>
    <button type = "submit" class = "btn btn-success mt-2">Save</button>
