
<h1>Extract</h1>
<form asp-action="ExtractNewFiles" method="post" enctype="multipart/form-data">
<div class="form-group">
        <label>Upload a New File</label>
        <input name="file" type="file" accept=".csv" class="form-control"/>
    </div>
    <button type = "submit" class = "btn btn-success mt-2">Submit</button>
</form>
